version: '3'
services:
  app:
    build: .
    container_name: application_MonBlog
    ports: 
      - 8080:80
    depends_on:
      - mysql_db
  mysql_db:
    image: mysql:8.0
    ports:
      - 3306:3306
    volumes: 
      - db_mysql_volume:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: monblog
  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8081:80
    environment:
      - PMA_HOST=mysql_db
    depends_on: 
      - mysql_db

volumes:
  db_mysql_volume:

  